.status.NA {
    fill: #9DE691;
}

.status.Всеок {
    fill:#73ff32;
}

.status.Естьпроблемы {
    fill:red;
}

.status.Впроработке {
    fill:black;
}

.status.Требуетвмешательства {
    fill:orange;
}

.status.Полка {
    fill:rgb(255, 255, 255);
}

.shares.UCTT {
    fill:blue;
}

.shares.TK {
    fill:grey;
}

.shares.partner {
    fill:white;
}

.money.UCTT {
    fill:rgb(255, 255, 255);
}

.money.TK {
    fill:rgb(255, 255, 255);
}

.money.partner {
    fill:rgb(255, 255, 255);
}
